@import "../../vendor/twbs/bootstrap/scss/variables";

$grays: (
    "100": $gray-100,
    "500": $gray-500,
    "800": $gray-800
);

$sky:         #DFEAFF;
$light-blue:  #397EFD;
$blue:        #2930A5;
$dark-blue:   #000887;
$yellow:      #FFB702;//#ffc107;
$green:       #28a745;
$red:         #dc3545;

$colors: (
    "sky":        $sky,
    "light-blue": $light-blue,
    "blue":       $blue,
    "dark-blue":  $dark-blue,
    "yellow":     $yellow,
    "green":      $green,
    "red":        $red,
    "white":      $white,
    "gray":       $gray-500
);

$primary:       $light-blue;
$secondary:     $blue;
$success:       $green;
$info:          $sky;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark-blue
);

$font-size-base:      .9rem;

$h1-font-size:        $font-size-base * 1.75;
$h2-font-size:        $font-size-base * 1.5;
$h3-font-size:        $font-size-base * 1.25;
$h4-font-size:        $font-size-base;
$h5-font-size:        $font-size-base;
$h6-font-size:        $font-size-base;

$enable-gradients:          true;
$line-height-base:          1.3;

$card-spacer-y:             .5rem;
$card-spacer-x:             1rem;

$navbar-padding-y:          0;
$navbar-padding-x:          0;
$navbar-dark-color:         $white;
$navbar-nav-link-padding-y: 1rem;

$navbar-toggler-padding-y:          .4rem;
$navbar-toggler-padding-x:          .5rem;
$navbar-toggler-border-radius:      0;
$navbar-dark-toggler-icon-bg:       none;
$navbar-dark-toggler-border-color:  none;

$nav-pills-border-radius:           0;

$nav-left-border-width:  $border-width;
$nav-left-bg:            $white;
$nav-left-border-color:  rgba($black,.125);
$nav-left-color:         $gray-800;
$nav-left-hover-color:   $gray-600;
$nav-left-border-radius: $border-radius;

$phone-font-size:    1.45rem;
$phone-font-size-sm: 1rem;
$phone-font-weight:  bold;

$breadcrumb-padding-y:      0;
$breadcrumb-padding-x:      0;
$breadcrumb-bg:             transparent;
$breadcrumb-margin-bottom:  .75rem;
$breadcrumb-font-size:      .9rem;

$list-group-item-padding-y: .5rem;
$list-group-item-padding-x: 1rem;

$dropdown-min-width: 100%;
$dropdown-spacer: 0;

$question-border-width: $border-width;
$question-border-color: rgba($black,.125);
$question-answer-bg: $sky;
$question-border-radius: $border-radius;