@import "bootstrap";

header {
  position: relative;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold;
}

#navbar-top {
  .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    @include media-breakpoint-down(sm) {
      padding-left: $nav-link-padding-x;
      padding-right: $nav-link-padding-x;
    }
  }
}

.navbar-toggler {
  i {
    display: block;
    background: $yellow;
    width: 40px;
    height: 5px;
    border-radius: $border-radius;
    margin: 6px;
  }
}

.nav-left {
  .nav-link {
    margin-bottom: -$nav-left-border-width;
    background-color: $nav-left-bg;
    border: $nav-left-border-width solid $nav-left-border-color;
    color: $nav-left-color;
    &:hover {
      color: $nav-left-hover-color;
    }
    &:first-child {
      @include border-top-radius($list-group-border-radius);
    }
    &:last-child {
      margin-bottom: 0;
      @include border-bottom-radius($list-group-border-radius);
    }
  }
}

.question-list,
.review-list {
  > .media {
    border-top: $question-border-width solid $question-border-color;
    &:first-child {
      border: none;
    }
    .media {
      background-color: $question-answer-bg;
      @include border-radius($question-border-radius);
    }
  }
}

.logo {
  max-height: 60px;
}

.bg-gradient-secondary {
  .form-control {
    border: none;
  }
}

.phones {
  font-size: $phone-font-size;
  a {
    display: block;
    color: $white;
    font-weight: $phone-font-weight;
    span, i {
      color: $yellow;
    }
  }
}

.breadcrumb {
  font-size: $breadcrumb-font-size;
}

.categories {
  .card {
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    border: 0;
    &-footer {
      height: 54px;
    }
    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,.15);
    }
  }
}

.card {
  &-header {
    .fa {
      margin-right: 10px;
      opacity: .7;
    }
    &:hover {
      text-decoration: none;
      .fa {
        opacity: 1;
      }
    }
  }
}

.table {
  &.align-middle {
    td, th {
      vertical-align: middle !important;
    }
  }
  &-price {
    tr {
      td {
        cursor: pointer;
      }
      td.over {
        background: rgba($yellow,.1);
      }
      td.active {
        background: rgba($yellow,.1);
        border: 2px solid $yellow;
        font-weight: bold;
      }
      &:first-child td.active {
        border-bottom: 1px solid $gray-300;
      }
      &:last-child td.active {
        border-top: 1px solid $gray-300;
      }
    }
  }
}

.btn:not(.btn-link) {
  color: $white;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  &:hover {
    color: $white;
  }
}

.list-article {
  a {
    color: $gray-800;
    text-decoration: underline;
    &:hover {
      color: $gray-600;
      text-decoration: underline;
    }
  }
}

.how {
  line-height: 1.5;
}

.border-strong {
  border-width: 3px !important;
}

.block-link {
  cursor: pointer;
}

.fa-y {
  margin-top: -5px;
  margin-bottom: -5px;
  color: $yellow;
}

div.required label.control-label:after,
div.required label.col-form-label:after {
  content: " *";
  color: red;
}

.has-danger {
  .invalid-feedback {
    display: block !important;
  }
  .form-control {
    border-color: $danger;
  }
}

.pagination {
  .disabled {
    span {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
    &.next {
      span {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
    &.prev {
      span {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }
  }
}

textarea.form-control {
  width: 99%;
}

footer {
  a {
    color: $gray-400;
    white-space: nowrap;
    &:hover {
      color: $gray-200;
    }
  }
}

@include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xs) {}
@include media-breakpoint-down(sm) {
  .phones {
    font-size: $phone-font-size-sm;
  }
  .search {
    position: absolute;
    right: 0;
    top: 56px;
  }
  .logo {
    max-height: 40px;
  }
  .navbar-dark {
    background: transparent !important;
  }
  .nav-item {
    text-align: left !important;
  }
}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(lg) {
  .container {
    max-width: 100%;
  }
}

@media print {
  header, footer, .sidebar {
    display: none;
  }
  .mainblock {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
